<%- include("./layout/main.ejs") -%>
<body>
    <%- include("./layout/login-register-nav.ejs") -%>
    <h1>My World</h1>
    <h2>A social media where you don't have to be you</h2>
    <form action='/login' method='post'>
        <div>
            <label for='email'>Email</label>
            <input name='email'/>
        </div>
        <div>
            <label for='password'>Password</label>
            <input type="password" name='password'/>
        </div>
        <button type="submit">Login</button>
    </form>
    <a href="/register">Create Account</a>
</body>
</html>