<%- include("./layout/main.ejs") -%>

<body>
    <%- include("./layout/nav.ejs") -%>
    <div class="ui raised very padded text container segment">
    <h1 class="ui centered header">New Post</h1>
    <form class="ui form" action="/posts/<%= id %>" method="post">
        <div class="field">
            <div class="ui">
                <label class="ui label" for="mood" class="label">Mood:</label> <br>
                <input id="post_form" type="text" name="mood" placeholder="insert an emoji to describe your mood"> <br>
            </div>
        </div>
        <div class="field">
            <div class="ui">
        <label class="ui label" for="post_content">Post Content:</label> <br>
        <textarea name="post_content"></textarea> <br>
            </div>
        </div>
        <button class="fluid ui green button" type="submit"> Submit Post </button>
    </form>
    </div>
 </body>
 <%- include("./layout/script.ejs") -%>
 </html>
