<%- include("./layout/main.ejs") -%>

<body>
    <%- include("./layout/nav.ejs") -%>
    <div class="container">
    <h1 class="ui centered header">New Post</h1>
    <div class="ui centered large card">
    <form class="ui form" action="/posts/<%= id %>" method="post">
        <div class="field">
            <div class="ui labeled input">
                <label class="ui label" for="mood" class="label">Mood:</label> <br>
                <input type="text" name="mood" placeholder="insert an empji to describe your mood"> <br>
            </div>
        </div>
        <div class="field">
            <div class="ui labeled input">
        <label class="ui label" for="post_content">Post Content:</label> <br>
        <textarea name="post_content"> </textarea> <br>
            </div>
        </div>
        <button class="fluid ui blue button" type="submit"> Submit Post </button>
    </form>
    </div>
    </div>
 </body>
 </html>
