<%- include("./layout/main.ejs") -%>
<body>
    <%- include("./layout/login-register-nav.ejs") -%>
    <h1>My World</h1>
    <h2>To access everything my world has to offer you must first make an account</h2>
    <form action='/register' method='post'>
        <div>
            <label for='first_name'>First name</label>
            <input name='first_name'/>
        </div>
        <div>
            <label for='last_name'>Last name</label>
            <input name='last_name'/>
        </div>
        <div>
            <label for='user_name'>User name</label>
            <input name='user_name'/>
        </div>
        <div>
            <label for='email'>Email</label>
            <input name='email'/>
        </div>
        <div>
            <label for='encypted_password'>Password</label>
            <input type="password" name='encypted_password'/>
        </div>
        <button type="submit">Create Account</button>
    </form>
    <a href="/login">Login</a>
</body>
</html>