<%- include("./layout/main.ejs") -%>
<body>
    <%- include("./layout/login-register-nav.ejs") -%>
    <div class="ui raised very padded text container segment">
        <h1 class="ui centered header">My World</h1>
        <h2 class="ui centered header">To access everything my world has to offer you must first make an account</h2>
        <div class="ui centered">
            <form class="ui form" action='/register' method='post'>
                <div class="field">
                    <div class="ui labeled input">
                        <label class="ui label" for='first_name'>First name</label>
                        <input name='first_name' required/>
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <label class="ui label" for='last_name'>Last name</label>
                        <input name='last_name' required/>
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <label class="ui label" for='user_name'>User name</label>
                        <input name='user_name' required/>
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <label class="ui label" for='email'>Email</label>
                        <input name='email' required/>
                    </div>
                </div>
                <div class="field">
                    <div class="ui labeled input">
                        <label class="ui label" for='encrypted_password'>Password</label>
                        <input type="password" name='encrypted_password' required/>
                    </div>
                </div>
                <div class="field">
                    <button class="fluid ui blue button" type="submit">Create Account</button>
                </div>
            </form>
            <a href="/login">   
                <button class="fluid ui green button"> Login </button>
            </a>
        </div>
    </div>
</body>
</html>