<!--Start: Nav  -->
<nav>
<div class="ui sticky borderless huge menu" style="background-color: aliceblue;">
    <div class="ui container grid"> 
      <!--Start: Desktop Nav-->
      <div class="computer only row">
        <a href="/login" class="left menu item">MyWorld    
        </a>
        <div class="right menu">
                <div class="item">
                  <div class="ui toggle checkbox">
                    <label for="toggle-light-dark">
                      <i class="adjust teal icon"></i>light/dark mode</label>
                    <input id ="toggle" type="checkbox" name="public">
              </div>
          
        </div>
      </div>
    </div>
    <!--End: Desktop Nav-->
    <!--Start: Mobile Nav-->
  <div class="tablet mobile only row">
    <a href="/login" class="header item"> MyWorld</a>
    <div class="right menu">
        <div class="item">
            <div class="ui toggle checkbox">
              <label for="toggle-light-dark">
                <i class="adjust teal icon"></i>light/dark mode</label>
              <input id ="toggle" type="checkbox" name="public">
            </div>
          </div>
    </div>
  <!--End: Mobile Nav-->
</div>
</div>
</nav>