<nav>
    <ul>
        <li>
            <a>Hamburger</a>
            <ul>
                <a href="/login"><li>Login</li></a>
            </ul>
        <li>
            <form action="">
                <label for="toggle-light-dark">light/dark mode</label>
                <input type="checkbox" name="toggle-light-dark">
            </form>
        </li>
      </ul>
</nav>